@page "/sys/user"

<div>
    <PageContainer Title="">
        <Breadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>用户权限</BreadcrumbItem>
                <BreadcrumbItem>用户管理</BreadcrumbItem>
            </Breadcrumb>
        </Breadcrumb>
        <ChildContent>
            <Table @ref="_table"
                   TItem="UserDto"
                   DataSource="@_users"
                   Total="_total"
                   OnChange="@onChange"
                   @bind-PageIndex="_pageIndex"
                   @bind-PageSize="_pageSize"
                   @bind-SelectedRows="_selectedRows"
                   Loading="@_tableIsLoading"
                   Context="model">
                <TitleTemplate>
                    <Row>
                        <AntDesign.Col Span="8">
                            <ResourceAuthorize ResourceKey="user_auth_user_delete_selected">
                                <Button Type="@ButtonType.Primary" Icon="delete" Danger OnClick="OnDeletesClick">
                                    删除选中
                                </Button>
                            </ResourceAuthorize>
                        </AntDesign.Col>
                        <AntDesign.Col Span="16" Style="text-align:right">
                            <Space>
                                <ResourceAuthorize ResourceKey="user_auth_user_add">
                                    <SpaceItem>
                                        <Button Type="@ButtonType.Primary" Icon="plus" OnClick="OnAddClick">
                                            添加
                                        </Button>
                                    </SpaceItem>
                                </ResourceAuthorize>
                                <ResourceAuthorize ResourceKey="user_auth_user_refresh">
                                    <SpaceItem>
                                        <Button Type="@ButtonType.Primary" Icon="reload" OnClick="OnReLoadTable">
                                            刷新
                                        </Button>
                                    </SpaceItem>
                                </ResourceAuthorize>
                            </Space>
                        </AntDesign.Col>
                    </Row>
                </TitleTemplate>
                <RowTemplate>
                    <ResourceAuthorize ResourceKey="user_auth_user_delete_selected">
                        <Selection Key="@(model.Guid.ToString())" />
                    </ResourceAuthorize>
                    <Column Title="编号" @bind-Field="@model.Guid" Sortable />
                    <Column Title="头像" Field="@model.HeadPic">
                        <Tooltip Placement="PlacementType.LeftTop" Title="@("点击修改头像")">
                            <a @onclick="_=>OnAvatarClick(model)">
                                <Avatar Src="@model.HeadPic" />
                            </a>
                        </Tooltip>
                    </Column>
                    <Column Title="用户名" @bind-Field="@model.LoginName" />
                    <Column Title="昵称" @bind-Field="@model.TrueName" />
                    <Column Title="性别" @bind-Field="@model.Sex">
                        <Tag Color="@(model.Sex.Equals("男")?"blue" :"pink")">@model.Sex</Tag>
                    </Column>
                    <Column Title="手机号" @bind-Field="@model.Mobile" />
                    <Column Title="邮箱" @bind-Field="@model.Email" />


                    <Column Title="创建时间" @bind-Field="@model.AddDate" Sortable />
                    <ActionColumn>
                        <Space>
                            <ResourceAuthorize ResourceKey="user_auth_user_edit">
                                <SpaceItem><Button Type="@ButtonType.Primary" Size="@SystemConstant.OperationButtonSize" OnClick="()=>OnEditClick(model.Guid)">编辑</Button></SpaceItem>
                            </ResourceAuthorize>
                            <ResourceAuthorize ResourceKey="user_auth_user_role_edit">
                                <SpaceItem><Button Type="@ButtonType.Default" Size="@SystemConstant.OperationButtonSize" OnClick="()=>OnEditUserRoleClick(model.Guid)">分配角色</Button></SpaceItem>
                            </ResourceAuthorize>
                            <ResourceAuthorize ResourceKey="user_auth_user_delete">
                                <SpaceItem><Button Type="@ButtonType.Primary" Size="@SystemConstant.OperationButtonSize" Danger OnClick="()=>OnDeleteClick(model.Guid)">删除</Button></SpaceItem>
                            </ResourceAuthorize>
                        </Space>
                    </ActionColumn>
                </RowTemplate>
            </Table>
        </ChildContent>
    </PageContainer>
</div>